.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 15px;
    background: linear-gradient(180deg, #3468F2 0%, rgba(52, 104, 242, 0) 100%), url(../../public/assets/img/grid.png), #29458D;

    .case {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 25px 25px;

        background: #1E2027;
        border-radius: 15px;
        width: 508px;

        div {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: 4px;

            .logoPlace {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 25px;
                gap: 10px;
            }

            .containerBG {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px;
                gap: 10px;

                background: #3E424C;
                border-radius: 15px;

                .backgroundContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 14px;
                    gap: 15px;

                    background: #3E424C;
                    border-radius: 15px;

                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                    text-align: center;

                    color: #FFFFFF;

                    img:nth-child(1) {
                        border-radius: 500px;
                        width: 88px;
                        height: 88px;
                    }

                    >div {
                        display: flex;
                        gap: 2px;

                        span:nth-child(1) {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 24px;
                            text-align: center;

                            color: #FFFFFF;
                        }
                    }

                    p {
                        margin: 0;
                    }
                }
            }
        }

    }

}


.alert {
    display: inline-block;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    text-align: center;

    color: #FFFFFF;

    .boosty,
    .discord {
        display: inline-block;
    }

    .boosty {
        font-weight: 800;
        color: #E56F28;
    }

    .discord {
        font-weight: 800;
        color: #85A0FF;
    }
}