@font-face {
  font-family: 'Open Runde';
  font-weight: 400;
  src: url(../../public/fonts/OpenRunde-Regular.otf);
}

@font-face {
  font-family: 'Open Runde';
  font-weight: 500;
  src: url(../../public/fonts/OpenRunde-Medium.otf);
}

@font-face {
  font-family: 'Open Runde';
  font-weight: 600;
  src: url(../../public/fonts/OpenRunde-Semibold.otf);
}

@font-face {
  font-family: 'Open Runde';
  font-weight: 700;
  src: url(../../public/fonts/OpenRunde-Bold.otf);
}

* {
  user-select: none;
  font-family: 'Open Runde', serif;
  color: var(--color1);
  stroke: var(--color1);
  max-width: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  background: #1B1F21;
  padding: 10px;
}

.siteUrl, .siteRoute {
  font-family: 'Open Runde';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  
}

.siteUrl {
  color: #FFFFFF;
}
.siteRoute {
  color: #AAAAAA;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: 100%;
}