.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: -webkit-fill-available;

    &>.headerSizeble {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 25px;
        gap: 20px;
        width: -webkit-fill-available;
        max-width: 1000px;

        &>.leftSide {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 25px;

            &>.nav_links {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 20px;

                margin: 0 0 0 auto;
            }
        }

        &>.rightSide {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 20px;

            margin: 0 0 0 auto;

            &>.userProfile {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 7px;

                &>.username {
                    display: flex;
                    font-weight: 800;
                    font-size: 16px;
                    line-height: 140%;
                    align-items: center;

                    color: #FFFFFF;

                    &>.avatar {
                        width: 32px;
                        height: 32px;

                        border-radius: 100%;
                    }
                }

                &>.logoutButton {
                    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                    display: flex;
                    cursor: pointer;
                    color: #FF7D7D;
                    padding: 0;
                    border: 0;
                    background: transparent;

                    &:hover {
                        color: #441818 !important;
                        background: #FF7D7D;
                        outline: 5px solid #FF7D7D;
                        border-radius: 4px;
                    }
                }
            }

            &>.login {
                --linksColor: #abc1ff;
            }
        }
    }
}

.links {
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    background: transparent;
    outline: 0px solid transparent;
    border-radius: 4px;
    padding: 0 3px;
    gap: 7px;

    color: var(--linksColor);

    &:hover {
        color: #fff !important;
        background: #2d57c7;
        outline: 5px solid #2d57c7;
        border-radius: 4px;
    }
}

.active {
    font-weight: 800;

    color: var(--linksColorActive);

    &:hover {
        color: var(--linksHover);
    }
}