.main {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .hah {
        font-weight: 800;
        font-size: 15px;
        line-height: 240%;

        color: #1E2027;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 15px;

        font-weight: 800;
        font-size: 16px;
        line-height: 140%;

        color: #1E2027;

        .header {
            display: flex;
            flex-direction: column;
            gap: 0px;

            .date {
                font-weight: 800;
                font-size: 14px;
                line-height: 140%;

                text-indent: 0;
                color: #1E2027;
            }

            .title {
                font-weight: 900;
                font-size: 24px;
                line-height: 140%;

                text-indent: 0;
                color: #1E2027;
            }
        }

        .alert {
            font-weight: 700;
            font-size: 14px;
            line-height: 140%;

            color: #1E2027;
        }

        >div {
            display: flex;
            flex-direction: column;
            gap: 10px;

            font-weight: 700;
            font-size: 14px;
            line-height: 140%;
            color: #1E2027;

            p {
                display: inline-block;
                margin: 0;

                a {
                    display: inline-block;
                    text-indent: 0px;
                    color: blue;
                }
            }

            >div {
                text-indent: 30px;

                >div {
                    text-indent: 60px;
                }
            }
        }
    }
}