.main {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .hah {
        font-weight: 800;
        font-size: 15px;
        line-height: 240%;

        color: #fff;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 15px;

        font-weight: 800;
        font-size: 16px;
        line-height: 140%;

        color: #fff;

        .header {
            display: flex;
            flex-direction: column;
            gap: 0px;

            .date {
                font-weight: 800;
                font-size: 14px;
                line-height: 140%;

                text-indent: 0;
                color: #fff;
            }

            .title {
                font-weight: 900;
                font-size: 24px;
                line-height: 140%;

                text-indent: 0;
                color: #fff;
            }
        }

        .alert {
            font-weight: 700;
            font-size: 14px;
            line-height: 140%;

            color: #fff;
        }

        >div {
            display: flex;
            flex-direction: column;
            gap: 10px;

            font-weight: 700;
            font-size: 14px;
            line-height: 140%;
            color: #fff;

            p {
                display: inline-block;
                margin: 0;

                a {
                    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                    display: inline-block;
                    text-indent: 0px;
                    color: rgb(141, 141, 255);
                    background: #171921;
                    outline: 0px solid #171921;
                    border-radius: 5px;

                    color: #BECBFF;
                    &:hover{
                        color: #fff;
                        background: #2D57C7;
                        outline: 5px solid #2D57C7;
                        border-radius: 5px;
                    }
                }
            }

            >div {
                text-indent: 30px;

                >div {
                    text-indent: 60px;
                }
            }
        }
    }
}